#!/bin/sh

HUGEPAGES={{ nr_hugepages }}

echo "Setup for dpdk."

#sudo mount -t hugetlbfs nodev /mnt/huge
#sudo sh -c "echo $HUGEPAGES > /sys/kernel/mm/hugepages/hugepages-2048kB/nr_hugepages"

# modprobe
echo sudo modprobe uio_pci_generic 
sudo modprobe uio_pci_generic 
echo sudo modprobe vfio-pci
sudo modprobe vfio-pci
