#!/bin/sh

HUGEPAGES={{ nr_hugepages }}

echo "Setup port for dpdk."

sudo mount -t hugetlbfs nodev /mnt/huge
sudo sh -c "echo $HUGEPAGES > /sys/kernel/mm/hugepages/hugepages-2048kB/nr_hugepages"

# modprobe
echo sudo modprobe uio_pci_generic 
sudo modprobe uio_pci_generic 
echo sudo modprobe vfio-pci
sudo modprobe vfio-pci

# setup vars for nic bind.
script=${RTE_SDK}/tools/dpdk-devbind.py
opt="--bind=uio_pci_generic"

for eth in {{ dpdk_interfaces }}
do
  sudo ifconfig ${eth} down
  echo python ${script} ${opt} ${eth} 
  sudo python ${script} ${opt} ${eth}
done
